/* * {
    outline: 1px solid red !important;
 } */

header
{
    background-image: url(../images/Object.png);    
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 5%;
}

#menu
{
    display: none;
}

/* body
{
    border: 5px solid black;
    padding: 1px;
} */

#head
{
    /* border: 2px solid black; */
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#head div
{
    /* border: 1px solid green;
    padding: 2px;  */
}

.site-logo
{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logo a
{
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

#nav-links
{
    display: flex; 
    justify-content: space-evenly;
    gap: 5px;
    width: 400px;
}

#nav-links a
{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    
}

/* main
{
    border: 5px solid black;
    padding: 12px;
    padding-top: 6px; 
    margin-top: 10px;
} */

main section, .section2
{
    display: flex;
    flex-direction: column;
}

section > .top, section > .bottom
{
    display: flex;
    flex-direction: column;
}

/* .banner
{

} */

.top
{
    /* border: 1px solid black;
    margin: 5px; */
    color: #FFF;
    padding: 5px;align-items: center;
}

.top h1
{
    margin: 0px;
    padding-top: 10%;
    color: #FFF;
    text-align: center;
    font-size: 120px;
    font-weight: 700;
}

.three-words
{
    display: flex;
    justify-content: space-evenly;
    color: #FFF;
    gap: 35%;
    margin-top: 0;
}

.top button
{
    padding: 10px 20px;
    border: none;
    border-radius: 70px;
    background-color: #C271FF;
    box-shadow: 1px 1px 15px 1px ;
    margin-top: 5%;
}

.top p
{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
}

.bottom
{
    /* border: 1px dashed black; */
    padding: 2% 0%;
    margin-bottom: 5px;
    /* align-items: center; */
}

.bottom > h2 > span
{
    color: #C271FF;
}

.bottom h2
{
    padding: 5% 0%;
    margin: 5px;
    color: #FFF;
    align-self: center;
}

#subtitle
{
    display: flex;
    gap: 10px;
    color: #FFF;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.user
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user > img
{
    border-radius: 50%;
    margin-top: 3px;
    padding: 0px 5px;
}

.user > h4
{
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-weight: 900;
}

.user > p
{
    margin-bottom: 3px;
    border: none;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
}

#section2
{
    display: flex;
    background-color: #C271FF;
    justify-content: center;
}

#quote
{
    display: flex;
    margin: 10px; 
    align-self: center;
    color: #FFF;
    font-size: 22px;
}

#quote img
{
    /* padding: 50px; */
    margin: 10px;
    border-radius: 50%;
    height: 1%;
}

#quote div
{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#quote a
{
   color: #FFF;
   padding: 5px 0px;
   font-weight: 700;
}

#quote p
{
    font-style: italic;
}

#video
{
    margin-top: 4px;
    display: flex; 
}

#video h2
{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#video > div > h2 > span
{
    color: #C271FF;
}

#Video-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vid-block
{
    /* border: 1px solid black; */
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.vid-block > div
{
    position: relative;
    padding: 0px;
    margin: 0px;
}

.vid-block > div > :first-child
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 250px;
    width: 400px; */
}

.play
{
    position: absolute;
    top: 35%;
    right: 40%;
}

.vid-block h4
{
    padding-left: 10px;
    margin: 10px 0px 5px 5px;
}

#lower
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #C271FF;
}

#lower > :nth-child(2)
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#author
{
    /* border: 1px solid yellow; */
    display: flex;
    /* height: 10px; */
    justify-content: flex-start;
}

#author img
{
    height: 50px;
    padding: 5px 10px;
}

#author h5
{
    display: flex;
    align-items: center;
    margin: 10px;
}

#time
{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 5px;
}

.membership
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: rgb(46, 27, 27);
    color: #FFF;
}

.membership span
{
    color: #C271FF;
}

#member-block
{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
}

.members
{
    /* border: 1px solid palevioletred; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 20px;
}

.members img
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* border: 1px solid #FFF; */
}

/* .members h5, p 
{
    margin: 4px;
    padding: 3px;
    border: 1px solid black;
} */

section > h2
{
    text-align: center;
}

.membership button
{
    padding: 10px 20px;
    margin: 20px;
    background-color: #C271FF;
    color: #FFF;
    border-radius: 20px;
}

#faq
{
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 5px;
    gap: 50px;
}

.item-block > h5
{
    font-size: 18px;
}

footer
{
   background-color: black;
   color: #FFF;
   padding: 2%;
}

#foot
{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-block
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-block #footer-img
{
    margin: 10px;
    padding: 10px 20px;
}

#social
{
    padding-right: 5%;
}

#foot h3 
{
    align-self: center;
    opacity: 0.5;
}

@media only screen and (max-width: 760px) {

    .top h1
    {
        font-size: 60px;
        margin: 30px;
    }

    .three-words
    {
        gap: 20%;
    }
}

@media only screen and (max-width: 700px) {
    .site-logo
    {
        position: absolute;
        left: 50%;
        right: 50%;
        top: 3%;
    }

    .top h1
    {
        font-size: 40px;
    }
    .three-words
    {
        font-size: 12px;
        text-align: center;
        gap: 10%;
        padding: 0;
    }

    #nav-links
    {
        display: none;
    }

    #menu
    {
        display: flex;
        position: absolute;
        top: 50px;
        margin: 5px;
    }

    #menu > svg
    {
        padding: 5px;
        background-color: rgba(117, 106, 106, 0.2);
    } 
    #menu > svg:hover
    {
        background-color: rgb(128, 128, 128);
    }
}

